<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_owner %>
  <p>Logged in as <%= current_owner.email %></p>
  <%= image_tag @qr %>
  <%= image_tag current_owner.shop.image.thumb.url %>
  <%= link_to 'Log out', destroy_owner_session_path, method: "delete" %>
  <%= link_to 'Promotions', promotions_path %>
<% else %>
  <%= link_to 'Sign up', new_owner_registration_path %> or
  <%= link_to 'Log in', new_owner_session_path %>
<% end %>
