
<!-- Fixed navbar -->
        <div id="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"><b>Pmot SYSTEM</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class=""><%= link_to 'Home', root_path %></li>
                  <li class="active"><%= link_to 'New Promotion', new_promotion_path %></li>
                  <li class=""><%= link_to 'Review Promotion', promotions_path %></li></ul>
                            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a  class="smothscroll"><b><%= current_owner.email %></b></a></li>
                            <li class=""><%= link_to 'Log out', destroy_owner_session_path, method: "delete" %></li>
                            </ul>
            <!-- <a class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><?=$_SESSION['idNum']; ?></a></a></p> -->
              </div>
              </div>
            </div>
          </div>

          <section id="home" name="home"></section>
    <div id="headerwrappromo">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>NEW <b>Promotion</b></h1>
                    <h3>Create your new promotion here!</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <section id="main-content-review">
            <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>Create New Promotion</h3>
            <p><br></p>

            <div class="form-panel">

            <!--div class="form-group">
            <div class="row">
                <label class="col-sm-2 col-sm-2 control-label">Type Of Sale :</label>
                  <div class="col-sm-5">
                    <input type="text" name="tos" class="form-control round-form" size="10" id="tos">
                untuk edit -->
                <!-- <input type="text" name="fullname" class="form-control round-form" size="10" id="typeofsale" value="<?=$row['typeofsale']?>"> -->
                  <!-- </div>
            </div>
          </div> -->

          <%= form_for @promotion do |f| %>
          <% if @promotion.errors.any? %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <ul>
                <% @promotion.errors.full_messages.each do |msg| %>
                  <div class="error-message">
                    <li><%= msg %></li>
                  </div>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
          <div class="row">
            <%= f.label :name, class: 'col-sm-2 col-sm-2 control-label' %>
            <div class="col-sm-5">
            <%= f.text_area :name, class: "form-control round-form", size: "40x5" %>
          </div>
        </div>
      </div>



            <div class="form-group">
            <div class="row">
            <%= f.label :description, class: 'col-sm-2 col-sm-2 control-label' %>
            <div class="col-sm-5">
            <%= f.text_area :description, class: "form-control round-form", size: "40x5" %>
          </div>
        </div>
      </div>


            <div class="form-group">
            <div class="row">
            <%= f.label :term_and_condition, class: 'col-sm-2 col-sm-2 control-label' %>
            <div class="col-sm-5">
            <%= f.text_area :term_and_condition, class: "form-control round-form", size: "40x5" %>
          </div>
        </div>
      </div>


      <div class="form-group">
      <div class="row">
            <%= f.label :starts_at, class: "col-sm-2 col-sm-2 control-label" %>
            <div class="col-sm-5">
            <%= f.text_field :starts_at, class: 'form-control datepicker', readonly: true, id: "startdate" %>
            <!-- <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="width: 300px; align="left" "> -->
                <!-- <input class="form-control" type="text" value="" readonly> -->
            <input type="hidden" id="dtpstart" value="" /><br/>
        </div>
        </div>
        </div>


        <div class="form-group">
        <div class="row">
              <%= f.label :expires_at, class: "col-sm-2 col-sm-2 control-label" %>
              <div class="col-sm-5">
              <%= f.text_field :expires_at, class: 'form-control datepicker2', readonly: true %>
              <!-- <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" style="width: 300px; align="left" "> -->
                  <!-- <input class="form-control" type="text" value="" readonly> -->
              <input type="hidden" id="dtpstart" value="" /><br/>
          </div>
          </div>
          </div>
            <!-- <%= f.label :expires_at %>
            <%= date_select :promotion, :expires_at %>
            <br/> -->


            <div class="form-group">
            <div class="row">
              <%= f.label :image, class: "col-sm-2 col-sm-2 control-label" %>
              <div class="col-sm-3">
              <%= f.file_field :image %>
              <%= f.hidden_field :image_cache %>
            </div>
          </div>
        </div>
            <br/>
            <%= f.submit 'Create' %>
          <% end %>
</div>

</section>
</section>


<script type="text/javascript">

    $(document).ready(function(){
      $('.datepicker').datepicker({
        startDate: new Date(),
        clearBtn: true,
        autoclose: true,
        format: 'yyyy-mm-dd'
      }).on('changeDate', function (selected) {
          var minDate = new Date(selected.date.valueOf());
          $('.datepicker2').datepicker('setStartDate', minDate);
      });

      $('.datepicker2').datepicker({
        format: 'yyyy-mm-dd',
        clearBtn: true,
        autoclose: true
      }).on('changeDate', function (selected) {
                var minDate = new Date(selected.date.valueOf());
                $('.datepicker').datepicker('setEndDate', minDate);
            });
    });

</script>



<!--

<%= form_for @promotion do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <br/>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br/>
  <%= f.label :term_and_condition %>
  <%= f.text_area :term_and_condition %>
  <br/>
  <%= f.label :starts_at %>
  <%= date_select :promotion, :starts_at %>
  <br/>
  <%= f.label :expires_at %>
  <%= date_select :promotion, :expires_at %>
  <br/>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  <br/>
  <%= f.submit 'Create' %>
<% end %>

<%= button_tag 'Back', id: 'back-btn', type: 'button' %> -->
